body{
    background-color: rgb(138, 121, 121);
    margin: autoc;
}

#wrapper{
    padding: 0px;
  margin: auto;
    clear: both;
}
#header{
    border: 4px solid red;
    background-color: red;
}

#menu{
    border: 4px solid rgb(160, 47, 160);
    background-color:rgb(160, 47, 160) ;
    margin-bottom: 0px;
}
#menu ul{
    padding-left: 0px;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a{
    color: wheat;
    text-decoration: none;
}



#contant{
background-color: wheat;
height: 100vh;
width: 70%; /* Set a width to occupy 70% of the wrapper */
float: left; /* Float the content to the left */
text-align: left;
padding: 0px;
margin-right:0px ;
}

#sidebar {
    margin-left: 0px ;
    background-color: lightgray; /* Add a background color to see the sidebar */
    height: 100vh;
 width: 30%; /* Set a width to occupy 28% of the wrapper */
    float: right; /* Float the sidebar to the right */
    text-align: left;
    margin: 0; /* Remove margin if necessary */
    padding: 0px;
}

#sidebar ul li a {
    text-decoration: none;
     margin: 20px;
}

#footer{
    border: 4px solid red;
    float: right;

    background-color: red;
    width: 100%;
}


#usecapt{
    border: 10px solid brown;
    background-color: pink;
    height: 400px;
    width: 800px;
    display: flex;
justify-content: center;
align-items: center;
}

#inner{
    border: 10px solid green;
    background-color: grey; 
    height: 200px;
    width: 600px;
    display: flex;
    justify-content: center;
    justify-content: center;
}
#one{
    border: 5px solid black;
    display: inline-block;
    height: 30px;
    width: 30px;
 margin: auto;
 
}

#append{
    border: 3px solid black;
    height: 200px;
    width: 200px;
    background-color:cadetblue ;
}


.waow{
    background-color: rgb(64, 202, 202);
}